


:root {
    --width-mobile: 375px;
    --width-desktop: 1440px
}


:root {
    --tomato: 4, 100%, 67%;
    --dark-slate-grey: 234, 29%, 20%;
    --charcoal: 235, 18%, 26%;
    --grey: 231, 7%, 60%;
    --white: 0, 0%, 100%;
}

:root {
    --primary-400: hsl(var(--tomato));
    --primary-gradient: linear-gradient(
        90deg,
        hsl(343, 86%, 67%) 15%,
        hsl(var(--tomato)) 100%
    );
    --neutral-200: hsl(var(--grey));
    --neutral-400: hsl(var(--charcoal));
    --base-400: hsl(var(--white));
}

:root {
    --fs-base: 16px;
    --ff-base: 'Roboto', sans-serif;
    --fw-base: 400;
    --fw-bold: 700;
}

:root {
    --radius-400: .5rem;
    --space-200: .5rem; 
    --space-400 :  1rem;
    --space-600: 1.5rem;
    --space-800:  2rem;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img ,picture {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
    color: var(--neutral-400);
    background:var(--white);
    line-height: 1.2;
    min-height: 100vh;
    max-width: 100vw;
}

main{
    min-height: 100vh;
}

.mb-4 {
    margin-bottom:  var(--space-400) ;
}

.mb-8 {
    margin-bottom:  var(--space-800) ;
}

.d-none {
    display: none !important;
}

.grid-flow {
    --_gap: 0 ;
    display: grid;
    gap: var(--_gap);
}

.grid-flow--800 {
    --_gap: var(--space-800)
}

.grid-flow--400 {
    --_gap: var(--space-400)
}

.grid-flow--200 {
    --_gap: var(--space-200)
}

.card {
    background: var(--base-400);
}

.card__content {
    height: 100%;
}

.card__body {
    --_padding: 0  var(--space-400) var(--space-800)  var(--space-400) ;
    padding: var( --_padding);
    text-align: start;
}

.card__title {
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
}

.card__items-list {
    list-style: none;
}

.card_list-item {
    display: inline-flex;
    gap:  var(--space-400) ;
    align-items: start;
}


.card__picture > img {
    object-fit: fill;
    width: 100%;
    min-width: 250px;
}

.form-field__label {
    font-size: .7rem;
    font-weight: var(--fw-bold);
    display: inline-flex;
}

.form-field__input {
    --_color:  var(--neutral-200)
    outline: none;
    border-radius: var(--radius-400);
    color: var(--_color);
    padding:  var(--space-400) ;
    border: 1px solid currentColor;
}

.form-field__input::placeholder {
    color: currentColor;
}

.form-field__input[aria-invalid] {
    color: var(--primary-400) ;
    background: hsla(var(--tomato), .1);
}

.form-field__input[aria-invalid]:is(:focus) {
    outline-color: currentColor;
}

.form-field__label:has( + .form-field__input[aria-invalid]  ) .form-field__error {
    opacity: 1;
}

.form-field__error {
    color: var(--primary-400) ;
    margin-left: auto;
    opacity: 0;
}

.btn-primary {
    --_bg: var(--neutral-400);
    --_color: var(--base-400);
    border-radius: var(--radius-400);
    padding:  var(--space-400) ;
    outline: none;
    border: none;
    background: var(--_bg);
    color: var(--_color);
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.btn-primary:is(:hover, :focus) {
    background: var(--primary-gradient);
    box-shadow: 0 10px 20px hsla(var(--tomato) , .5);
}

.message-card-content {
    padding: 1rem;
    align-items: end;
}

@media(min-width: 600px) {
    body {
        background: var(--neutral-400);
    }

    main{
        place-items: center;
        padding: var(--space-400);
    }

    .card {
        width: 100%;
        max-width: 900px;
        padding: var(--space-800);
        border-radius: var(--radius-400);
        grid-auto-flow: dense;
        align-items: center;
    }

    .card--small{
        max-width: 400px;
    }

    .card__body {
        --_padding: 0;
        grid-column: 1;
    }

    .card__picture {
        grid-column: 2;
    }
  
}